<div class="card text-center">
  <div class="card-header">
    <h3>Примеры наших работ.</h3>
  </div>
  <div class="card-body">
    <p class="card-text" style="width: 50%; margin-left: 25%">
      На этой странице представлены некоторые из наших работ. Мы надеемся, что
      они вдохновят вас и помогут понять, каким образом мы можем преобразить ваш
      бренд или мероприятие.
    </p>
    <br />
    <% if (role === "admin") { %>
    <div>
      <button
        type="button"
        class="btn btn-light"
        data-bs-toggle="modal"
        data-bs-target="#createPost"
      >
        Cоздать пост
      </button>
    </div>
    <% } %>
    <br />
  </div>
  <p class="card-footer">
    В нашем магазине-студии анимации стоят от 700 руб/сек.
  </p>
</div>
<br />

<div style="display: flex; justify-content: space-around">
  <% entries.posts.forEach((entry) => { %> <% if (entry.title === "post") { %>
  <div class="card" style="width: 400px; height: 400px">
    <% if (entry.media) {%>
    <div class="card-header text-center">
      <h5>
        <% if (role === "admin") { %>
        <a href="posts/delete/<%= entry.id %>"
          ><i class="fa-solid fa-trash-can" style="color: #000000"></i
        ></a>
        <% } %> <%= entry.body %>
      </h5>
    </div>
    <div class="card-body" style="width: 400px; height: 400px">
      <img
        src="../uploads/<%= entry.media %>"
        class="d-block w-100"
        alt="..."
      />
      <br />
    </div>
    <% } else {%>
    <div class="card-header text-center">
      <h5>
        <% if (role === "admin") { %>
        <a href="posts/delete/<%= entry.id %>"
          ><i class="fa-solid fa-trash-can" style="color: #000000"></i
        ></a>
        <% } %> Информация.
      </h5>
    </div>
    <div
      class="card-body"
      style="width: 400px; height: 400px; margin-left: 25%"
    >
      <p><%= entry.body %></p>
      <br />
    </div>
    <% } %>
  </div>
  <% } %> <% }) %>
</div>
